@CHARSET "utf-8";

body { background-color: #EEEEEE; line-height:150%; }

img {
	border:0;}

h1 {
  font-size: 1.3em;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  background:#69B3EC;
  margin:0 20px;
  color:#fff;
}

h2{ padding:0 0 0 26px;}

ul li { list-style: square; }

a:hover { background-color: white; }

input.err { background-color: orange; }


.sp{ padding-right:14px;}

#header{
	width:900px;
}

#header a {
	text-decoration: none;
}


#header a:link {
	color: #000;
}

#header a:visited {
	color: #000000;
}

#header a:active {
	color: #000000;
}


#header a:hover {
	color: #000000;
}


#logo{
	  width:540px;
	  height:115px;
	  margin:20px;
  }
  

.title{
	color:#FFF
	}

#content{
  width:900px;
  margin:0 auto;
  background:#fff;
}


#body{
	width:850px;
	float:left;
	background-color: white;
}

#siteinfo{
	width:850px;
	float:left;
}

#menu{
	width:200px;
	float:left;
}

.tweet_count{
	width:650px;
	height:200px;
	border-bottom:2px #F5F5F5 dotted;
}

.userImage{
	border:1px #999;
	float:left;
	padding:0 10px 10px 0;
	width:77px;
	clear:left;
}

.userInfo{
	float:left;
}


#siteinfo_bottom{
}

#widget{

}

#ranking{
  width:650px;
  float:left;
  clear:both;
  padding:20px;
}

.clear{ clear:both; }


#tweet_area{
	padding:10px 20px;

}



#tweet_area textarea{
	margin-bottom:10px ;

}

#tweet_area_menu{

}

#tweet_area_form{

}


#footer{
	width:900px;
	text-align:center;
	clear: left;
	margin:0 auto;
}

.tweet_share_button{
	padding-left:5px;
}
