@CHARSET "utf-8";

body { background-color: #EEEEEE; }

h1 { 
	height: 33px;
	font-size: x-large;
	font-family: "Times New Roman", Times, serif;
}

ul li { list-style: square; }
a:hover { background-color: white; }

input.err { background-color: orange; }

#header{
 width:900px;
 background-color: orange;
}

#header a {
text-decoration: none;
}
#header a:link {
color: #000000;
}
#header a:visited {
color: #000000;
}
#header a:active {
color: #000000;
}
#header a:hover {
color: #000000;
}

#menu{
 width:850px;
 height:400px;
 text-align:left;
 vertical-align: top;
 float:left;
 background-color: aqua;
}

#body{
 width:850px;
 float:left;
 background-color: white;
}

#siteinfo{
 width:850px;
 float:left;
}

.tweet_count{
 width:650px;
 height:200px;
 border:1px #F5F5F5 solid;
}
.userImage{
 width:75px;
 float:left;
}

.userInfo{
 width:575px;
 float:left;
}

#siteinfo_center{
 width:650px;
 float:left;	
}

#siteinfo_bottom{
 width:850px;
 float:left;
}

#widget{
 float:left;
 width:200px;
}

#ranking{
 float:left;
 width:650px;
}

#tweet_area{
 width:650px;
 float:left;
}
#tweet_area_menu{
 width:100px;
 float:left;	
}
#tweet_area_form{
 width:450px;
 float:left;
}

#footer{
 width:900px;
 text-align:center;
 clear: left;
}

.tweet_share_button{
 padding-left:5px;
}